.bg-aqua {
  background-color: aqua;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.bg-antiquewhite {
  background-color: antiquewhite;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background-color: blue;
}

.bg-cyan {
  background-color: cyan;
}

.bg-darkblue {
  background-color: darkblue;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-darkgreen {
  background-color: darkgreen;
}

.bg-darkturquoise {
  background-color: darkturquoise;
}

.bg-deepskyblue {
  background-color: deepskyblue;
}

.bg-green {
  background-color: green;
}

.bg-lime {
  background-color: lime;
}

.bg-mediumblue {
  background-color: mediumblue;
}

.bg-mediumspringgreen {
  background-color: mediumspringgreen;
}

.bg-navy {
  background-color: navy;
}

.bg-springgreen {
  background-color: springgreen;
}

.bg-teal {
  background-color: teal;
}

.bg-midnightblue {
  background-color: midnightblue;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.bg-lightseagreen {
  background-color: lightseagreen;
}

.bg-forestgreen {
  background-color: forestgreen;
}

.bg-seagreen {
  background-color: seagreen;
}

.bg-darkslategray {
  background-color: darkslategray;
}

.bg-darkslategrey {
  background-color: darkslategrey;
}

.bg-limegreen {
  background-color: limegreen;
}

.bg-mediumseagreen {
  background-color: mediumseagreen;
}

.bg-turquoise {
  background-color: turquoise;
}

.bg-royalblue {
  background-color: royalblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.bg-darkslateblue {
  background-color: darkslateblue;
}

.bg-mediumturquoise {
  background-color: mediumturquoise;
}

.bg-indigo {
  background-color: indigo;
}

.bg-darkolivegreen {
  background-color: darkolivegreen;
}

.bg-cadetblue {
  background-color: cadetblue;
}

.bg-cornflowerblue {
  background-color: cornflowerblue;
}

.bg-mediumaquamarine {
  background-color: mediumaquamarine;
}

.bg-dimgray {
  background-color: dimgray;
}

.bg-dimgrey {
  background-color: dimgrey;
}

.bg-slateblue {
  background-color: slateblue;
}

.bg-olivedrab {
  background-color: olivedrab;
}

.bg-slategray {
  background-color: slategray;
}

.bg-slategrey {
  background-color: slategrey;
}

.bg-lightslategray {
  background-color: lightslategray;
}

.bg-lightslategrey {
  background-color: lightslategrey;
}

.bg-mediumslateblue {
  background-color: mediumslateblue;
}

.bg-lawngreen {
  background-color: lawngreen;
}

.bg-aquamarine {
  background-color: aquamarine;
}

.bg-chartreuse {
  background-color: chartreuse;
}

.bg-gray {
  background-color: gray;
}

.bg-grey {
  background-color: grey;
}

.bg-maroon {
  background-color: maroon;
}

.bg-olive {
  background-color: olive;
}

.bg-purple {
  background-color: purple;
}

.bg-lightskyblue {
  background-color: lightskyblue;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-blueviolet {
  background-color: blueviolet;
}

.bg-darkmagenta {
  background-color: darkmagenta;
}

.bg-darkred {
  background-color: darkred;
}

.bg-saddlebrown {
  background-color: saddlebrown;
}

.bg-darkseagreen {
  background-color: darkseagreen;
}

.bg-lightgreen {
  background-color: lightgreen;
}

.bg-mediumpurple {
  background-color: mediumpurple;
}

.bg-darkviolet {
  background-color: darkviolet;
}

.bg-palegreen {
  background-color: palegreen;
}

.bg-darkorchid {
  background-color: darkorchid;
}

.bg-yellowgreen {
  background-color: yellowgreen;
}

.bg-sienna {
  background-color: sienna;
}

.bg-brown {
  background-color: brown;
}

.bg-darkgray {
  background-color: darkgray;
}

.bg-darkgrey {
  background-color: darkgrey;
}

.bg-greenyellow {
  background-color: greenyellow;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-paleturquoise {
  background-color: paleturquoise;
}

.bg-lightsteelblue {
  background-color: lightsteelblue;
}

.bg-powderblue {
  background-color: powderblue;
}

.bg-firebrick {
  background-color: firebrick;
}

.bg-darkgoldenrod {
  background-color: darkgoldenrod;
}

.bg-mediumorchid {
  background-color: mediumorchid;
}

.bg-rosybrown {
  background-color: rosybrown;
}

.bg-darkkhaki {
  background-color: darkkhaki;
}

.bg-silver {
  background-color: silver;
}

.bg-mediumvioletred {
  background-color: mediumvioletred;
}

.bg-indianred {
  background-color: indianred;
}

.bg-peru {
  background-color: peru;
}

.bg-chocolate {
  background-color: chocolate;
}

.bg-tan {
  background-color: tan;
}

.bg-lightgray {
  background-color: lightgray;
}

.bg-lightgrey {
  background-color: lightgrey;
}

.bg-thistle {
  background-color: thistle;
}

.bg-goldenrod {
  background-color: goldenrod;
}

.bg-orchid {
  background-color: orchid;
}

.bg-palevioletred {
  background-color: palevioletred;
}

.bg-crimson {
  background-color: crimson;
}

.bg-gainsboro {
  background-color: gainsboro;
}

.bg-plum {
  background-color: plum;
}

.bg-burlywood {
  background-color: burlywood;
}

.bg-lightcyan {
  background-color: lightcyan;
}

.bg-lavender {
  background-color: lavender;
}

.bg-darksalmon {
  background-color: darksalmon;
}

.bg-palegoldenrod {
  background-color: palegoldenrod;
}

.bg-violet {
  background-color: violet;
}

.bg-azure {
  background-color: azure;
}

.bg-honeydew {
  background-color: honeydew;
}

.bg-khaki {
  background-color: khaki;
}

.bg-lightcoral {
  background-color: lightcoral;
}

.bg-sandybrown {
  background-color: sandybrown;
}

.bg-beige {
  background-color: beige;
}

.bg-mintcream {
  background-color: mintcream;
}

.bg-wheat {
  background-color: wheat;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-ghostwhite {
  background-color: ghostwhite;
}

.bg-lightgoldenrodyellow {
  background-color: lightgoldenrodyellow;
}

.bg-linen {
  background-color: linen;
}

.bg-salmon {
  background-color: salmon;
}

.bg-oldlace {
  background-color: oldlace;
}

.bg-bisque {
  background-color: bisque;
}

.bg-blanchedalmond {
  background-color: blanchedalmond;
}

.bg-coral {
  background-color: coral;
}

.bg-cornsilk {
  background-color: cornsilk;
}

.bg-darkorange {
  background-color: darkorange;
}

.bg-deeppink {
  background-color: deeppink;
}

.bg-floralwhite {
  background-color: floralwhite;
}

.bg-fuchsia {
  background-color: fuchsia;
}

.bg-gold {
  background-color: gold;
}

.bg-hotpink {
  background-color: hotpink;
}

.bg-ivory {
  background-color: ivory;
}

.bg-lavenderblush {
  background-color: lavenderblush;
}

.bg-lemonchiffon {
  background-color: lemonchiffon;
}

.bg-lightpink {
  background-color: lightpink;
}

.bg-lightsalmon {
  background-color: lightsalmon;
}

.bg-lightyellow {
  background-color: lightyellow;
}

.bg-magenta {
  background-color: magenta;
}

.bg-mistyrose {
  background-color: mistyrose;
}

.bg-moccasin {
  background-color: moccasin;
}

.bg-navajowhite {
  background-color: navajowhite;
}

.bg-orange {
  background-color: orange;
}

.bg-orangered {
  background-color: orangered;
}

.bg-papayawhip {
  background-color: papayawhip;
}

.bg-peachpuff {
  background-color: peachpuff;
}

.bg-pink {
  background-color: pink;
}

.bg-red {
  background-color: red;
}

.bg-seashell {
  background-color: seashell;
}

.bg-snow {
  background-color: snow;
}

.bg-tomato {
  background-color: tomato;
}

.bg-white {
  background-color: white;
}

.bg-yellow {
  background-color: yellow;
}

.bg-rebeccapurple {
  background-color: rebeccapurple;
}
.border--aqua {
  border-color: aqua;
}

.border--aliceblue {
  border-color: aliceblue;
}

.border--antiquewhite {
  border-color: antiquewhite;
}

.border--black {
  border-color: black;
}

.border--blue {
  border-color: blue;
}

.border--cyan {
  border-color: cyan;
}

.border--darkblue {
  border-color: darkblue;
}

.border--darkcyan {
  border-color: darkcyan;
}

.border--darkgreen {
  border-color: darkgreen;
}

.border--darkturquoise {
  border-color: darkturquoise;
}

.border--deepskyblue {
  border-color: deepskyblue;
}

.border--green {
  border-color: green;
}

.border--lime {
  border-color: lime;
}

.border--mediumblue {
  border-color: mediumblue;
}

.border--mediumspringgreen {
  border-color: mediumspringgreen;
}

.border--navy {
  border-color: navy;
}

.border--springgreen {
  border-color: springgreen;
}

.border--teal {
  border-color: teal;
}

.border--midnightblue {
  border-color: midnightblue;
}

.border--dodgerblue {
  border-color: dodgerblue;
}

.border--lightseagreen {
  border-color: lightseagreen;
}

.border--forestgreen {
  border-color: forestgreen;
}

.border--seagreen {
  border-color: seagreen;
}

.border--darkslategray {
  border-color: darkslategray;
}

.border--darkslategrey {
  border-color: darkslategrey;
}

.border--limegreen {
  border-color: limegreen;
}

.border--mediumseagreen {
  border-color: mediumseagreen;
}

.border--turquoise {
  border-color: turquoise;
}

.border--royalblue {
  border-color: royalblue;
}

.border--steelblue {
  border-color: steelblue;
}

.border--darkslateblue {
  border-color: darkslateblue;
}

.border--mediumturquoise {
  border-color: mediumturquoise;
}

.border--indigo {
  border-color: indigo;
}

.border--darkolivegreen {
  border-color: darkolivegreen;
}

.border--cadetblue {
  border-color: cadetblue;
}

.border--cornflowerblue {
  border-color: cornflowerblue;
}

.border--mediumaquamarine {
  border-color: mediumaquamarine;
}

.border--dimgray {
  border-color: dimgray;
}

.border--dimgrey {
  border-color: dimgrey;
}

.border--slateblue {
  border-color: slateblue;
}

.border--olivedrab {
  border-color: olivedrab;
}

.border--slategray {
  border-color: slategray;
}

.border--slategrey {
  border-color: slategrey;
}

.border--lightslategray {
  border-color: lightslategray;
}

.border--lightslategrey {
  border-color: lightslategrey;
}

.border--mediumslateblue {
  border-color: mediumslateblue;
}

.border--lawngreen {
  border-color: lawngreen;
}

.border--aquamarine {
  border-color: aquamarine;
}

.border--chartreuse {
  border-color: chartreuse;
}

.border--gray {
  border-color: gray;
}

.border--grey {
  border-color: grey;
}

.border--maroon {
  border-color: maroon;
}

.border--olive {
  border-color: olive;
}

.border--purple {
  border-color: purple;
}

.border--lightskyblue {
  border-color: lightskyblue;
}

.border--skyblue {
  border-color: skyblue;
}

.border--blueviolet {
  border-color: blueviolet;
}

.border--darkmagenta {
  border-color: darkmagenta;
}

.border--darkred {
  border-color: darkred;
}

.border--saddlebrown {
  border-color: saddlebrown;
}

.border--darkseagreen {
  border-color: darkseagreen;
}

.border--lightgreen {
  border-color: lightgreen;
}

.border--mediumpurple {
  border-color: mediumpurple;
}

.border--darkviolet {
  border-color: darkviolet;
}

.border--palegreen {
  border-color: palegreen;
}

.border--darkorchid {
  border-color: darkorchid;
}

.border--yellowgreen {
  border-color: yellowgreen;
}

.border--sienna {
  border-color: sienna;
}

.border--brown {
  border-color: brown;
}

.border--darkgray {
  border-color: darkgray;
}

.border--darkgrey {
  border-color: darkgrey;
}

.border--greenyellow {
  border-color: greenyellow;
}

.border--lightblue {
  border-color: lightblue;
}

.border--paleturquoise {
  border-color: paleturquoise;
}

.border--lightsteelblue {
  border-color: lightsteelblue;
}

.border--powderblue {
  border-color: powderblue;
}

.border--firebrick {
  border-color: firebrick;
}

.border--darkgoldenrod {
  border-color: darkgoldenrod;
}

.border--mediumorchid {
  border-color: mediumorchid;
}

.border--rosybrown {
  border-color: rosybrown;
}

.border--darkkhaki {
  border-color: darkkhaki;
}

.border--silver {
  border-color: silver;
}

.border--mediumvioletred {
  border-color: mediumvioletred;
}

.border--indianred {
  border-color: indianred;
}

.border--peru {
  border-color: peru;
}

.border--chocolate {
  border-color: chocolate;
}

.border--tan {
  border-color: tan;
}

.border--lightgray {
  border-color: lightgray;
}

.border--lightgrey {
  border-color: lightgrey;
}

.border--thistle {
  border-color: thistle;
}

.border--goldenrod {
  border-color: goldenrod;
}

.border--orchid {
  border-color: orchid;
}

.border--palevioletred {
  border-color: palevioletred;
}

.border--crimson {
  border-color: crimson;
}

.border--gainsboro {
  border-color: gainsboro;
}

.border--plum {
  border-color: plum;
}

.border--burlywood {
  border-color: burlywood;
}

.border--lightcyan {
  border-color: lightcyan;
}

.border--lavender {
  border-color: lavender;
}

.border--darksalmon {
  border-color: darksalmon;
}

.border--palegoldenrod {
  border-color: palegoldenrod;
}

.border--violet {
  border-color: violet;
}

.border--azure {
  border-color: azure;
}

.border--honeydew {
  border-color: honeydew;
}

.border--khaki {
  border-color: khaki;
}

.border--lightcoral {
  border-color: lightcoral;
}

.border--sandybrown {
  border-color: sandybrown;
}

.border--beige {
  border-color: beige;
}

.border--mintcream {
  border-color: mintcream;
}

.border--wheat {
  border-color: wheat;
}

.border--whitesmoke {
  border-color: whitesmoke;
}

.border--ghostwhite {
  border-color: ghostwhite;
}

.border--lightgoldenrodyellow {
  border-color: lightgoldenrodyellow;
}

.border--linen {
  border-color: linen;
}

.border--salmon {
  border-color: salmon;
}

.border--oldlace {
  border-color: oldlace;
}

.border--bisque {
  border-color: bisque;
}

.border--blanchedalmond {
  border-color: blanchedalmond;
}

.border--coral {
  border-color: coral;
}

.border--cornsilk {
  border-color: cornsilk;
}

.border--darkorange {
  border-color: darkorange;
}

.border--deeppink {
  border-color: deeppink;
}

.border--floralwhite {
  border-color: floralwhite;
}

.border--fuchsia {
  border-color: fuchsia;
}

.border--gold {
  border-color: gold;
}

.border--hotpink {
  border-color: hotpink;
}

.border--ivory {
  border-color: ivory;
}

.border--lavenderblush {
  border-color: lavenderblush;
}

.border--lemonchiffon {
  border-color: lemonchiffon;
}

.border--lightpink {
  border-color: lightpink;
}

.border--lightsalmon {
  border-color: lightsalmon;
}

.border--lightyellow {
  border-color: lightyellow;
}

.border--magenta {
  border-color: magenta;
}

.border--mistyrose {
  border-color: mistyrose;
}

.border--moccasin {
  border-color: moccasin;
}

.border--navajowhite {
  border-color: navajowhite;
}

.border--orange {
  border-color: orange;
}

.border--orangered {
  border-color: orangered;
}

.border--papayawhip {
  border-color: papayawhip;
}

.border--peachpuff {
  border-color: peachpuff;
}

.border--pink {
  border-color: pink;
}

.border--red {
  border-color: red;
}

.border--seashell {
  border-color: seashell;
}

.border--snow {
  border-color: snow;
}

.border--tomato {
  border-color: tomato;
}

.border--white {
  border-color: white;
}

.border--yellow {
  border-color: yellow;
}

.border--rebeccapurple {
  border-color: rebeccapurple;
}
.aqua {
  color: aqua;
}

.aliceblue {
  color: aliceblue;
}

.antiquewhite {
  color: antiquewhite;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.cyan {
  color: cyan;
}

.darkblue {
  color: darkblue;
}

.darkcyan {
  color: darkcyan;
}

.darkgreen {
  color: darkgreen;
}

.darkturquoise {
  color: darkturquoise;
}

.deepskyblue {
  color: deepskyblue;
}

.green {
  color: green;
}

.lime {
  color: lime;
}

.mediumblue {
  color: mediumblue;
}

.mediumspringgreen {
  color: mediumspringgreen;
}

.navy {
  color: navy;
}

.springgreen {
  color: springgreen;
}

.teal {
  color: teal;
}

.midnightblue {
  color: midnightblue;
}

.dodgerblue {
  color: dodgerblue;
}

.lightseagreen {
  color: lightseagreen;
}

.forestgreen {
  color: forestgreen;
}

.seagreen {
  color: seagreen;
}

.darkslategray {
  color: darkslategray;
}

.darkslategrey {
  color: darkslategrey;
}

.limegreen {
  color: limegreen;
}

.mediumseagreen {
  color: mediumseagreen;
}

.turquoise {
  color: turquoise;
}

.royalblue {
  color: royalblue;
}

.steelblue {
  color: steelblue;
}

.darkslateblue {
  color: darkslateblue;
}

.mediumturquoise {
  color: mediumturquoise;
}

.indigo {
  color: indigo;
}

.darkolivegreen {
  color: darkolivegreen;
}

.cadetblue {
  color: cadetblue;
}

.cornflowerblue {
  color: cornflowerblue;
}

.mediumaquamarine {
  color: mediumaquamarine;
}

.dimgray {
  color: dimgray;
}

.dimgrey {
  color: dimgrey;
}

.slateblue {
  color: slateblue;
}

.olivedrab {
  color: olivedrab;
}

.slategray {
  color: slategray;
}

.slategrey {
  color: slategrey;
}

.lightslategray {
  color: lightslategray;
}

.lightslategrey {
  color: lightslategrey;
}

.mediumslateblue {
  color: mediumslateblue;
}

.lawngreen {
  color: lawngreen;
}

.aquamarine {
  color: aquamarine;
}

.chartreuse {
  color: chartreuse;
}

.gray {
  color: gray;
}

.grey {
  color: grey;
}

.maroon {
  color: maroon;
}

.olive {
  color: olive;
}

.purple {
  color: purple;
}

.lightskyblue {
  color: lightskyblue;
}

.skyblue {
  color: skyblue;
}

.blueviolet {
  color: blueviolet;
}

.darkmagenta {
  color: darkmagenta;
}

.darkred {
  color: darkred;
}

.saddlebrown {
  color: saddlebrown;
}

.darkseagreen {
  color: darkseagreen;
}

.lightgreen {
  color: lightgreen;
}

.mediumpurple {
  color: mediumpurple;
}

.darkviolet {
  color: darkviolet;
}

.palegreen {
  color: palegreen;
}

.darkorchid {
  color: darkorchid;
}

.yellowgreen {
  color: yellowgreen;
}

.sienna {
  color: sienna;
}

.brown {
  color: brown;
}

.darkgray {
  color: darkgray;
}

.darkgrey {
  color: darkgrey;
}

.greenyellow {
  color: greenyellow;
}

.lightblue {
  color: lightblue;
}

.paleturquoise {
  color: paleturquoise;
}

.lightsteelblue {
  color: lightsteelblue;
}

.powderblue {
  color: powderblue;
}

.firebrick {
  color: firebrick;
}

.darkgoldenrod {
  color: darkgoldenrod;
}

.mediumorchid {
  color: mediumorchid;
}

.rosybrown {
  color: rosybrown;
}

.darkkhaki {
  color: darkkhaki;
}

.silver {
  color: silver;
}

.mediumvioletred {
  color: mediumvioletred;
}

.indianred {
  color: indianred;
}

.peru {
  color: peru;
}

.chocolate {
  color: chocolate;
}

.tan {
  color: tan;
}

.lightgray {
  color: lightgray;
}

.lightgrey {
  color: lightgrey;
}

.thistle {
  color: thistle;
}

.goldenrod {
  color: goldenrod;
}

.orchid {
  color: orchid;
}

.palevioletred {
  color: palevioletred;
}

.crimson {
  color: crimson;
}

.gainsboro {
  color: gainsboro;
}

.plum {
  color: plum;
}

.burlywood {
  color: burlywood;
}

.lightcyan {
  color: lightcyan;
}

.lavender {
  color: lavender;
}

.darksalmon {
  color: darksalmon;
}

.palegoldenrod {
  color: palegoldenrod;
}

.violet {
  color: violet;
}

.azure {
  color: azure;
}

.honeydew {
  color: honeydew;
}

.khaki {
  color: khaki;
}

.lightcoral {
  color: lightcoral;
}

.sandybrown {
  color: sandybrown;
}

.beige {
  color: beige;
}

.mintcream {
  color: mintcream;
}

.wheat {
  color: wheat;
}

.whitesmoke {
  color: whitesmoke;
}

.ghostwhite {
  color: ghostwhite;
}

.lightgoldenrodyellow {
  color: lightgoldenrodyellow;
}

.linen {
  color: linen;
}

.salmon {
  color: salmon;
}

.oldlace {
  color: oldlace;
}

.bisque {
  color: bisque;
}

.blanchedalmond {
  color: blanchedalmond;
}

.coral {
  color: coral;
}

.cornsilk {
  color: cornsilk;
}

.darkorange {
  color: darkorange;
}

.deeppink {
  color: deeppink;
}

.floralwhite {
  color: floralwhite;
}

.fuchsia {
  color: fuchsia;
}

.gold {
  color: gold;
}

.hotpink {
  color: hotpink;
}

.ivory {
  color: ivory;
}

.lavenderblush {
  color: lavenderblush;
}

.lemonchiffon {
  color: lemonchiffon;
}

.lightpink {
  color: lightpink;
}

.lightsalmon {
  color: lightsalmon;
}

.lightyellow {
  color: lightyellow;
}

.magenta {
  color: magenta;
}

.mistyrose {
  color: mistyrose;
}

.moccasin {
  color: moccasin;
}

.navajowhite {
  color: navajowhite;
}

.orange {
  color: orange;
}

.orangered {
  color: orangered;
}

.papayawhip {
  color: papayawhip;
}

.peachpuff {
  color: peachpuff;
}

.pink {
  color: pink;
}

.red {
  color: red;
}

.seashell {
  color: seashell;
}

.snow {
  color: snow;
}

.tomato {
  color: tomato;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.rebeccapurple {
  color: rebeccapurple;
}
.fill-aqua {
  fill: aqua;
}

.fill-aliceblue {
  fill: aliceblue;
}

.fill-antiquewhite {
  fill: antiquewhite;
}

.fill-black {
  fill: black;
}

.fill-blue {
  fill: blue;
}

.fill-cyan {
  fill: cyan;
}

.fill-darkblue {
  fill: darkblue;
}

.fill-darkcyan {
  fill: darkcyan;
}

.fill-darkgreen {
  fill: darkgreen;
}

.fill-darkturquoise {
  fill: darkturquoise;
}

.fill-deepskyblue {
  fill: deepskyblue;
}

.fill-green {
  fill: green;
}

.fill-lime {
  fill: lime;
}

.fill-mediumblue {
  fill: mediumblue;
}

.fill-mediumspringgreen {
  fill: mediumspringgreen;
}

.fill-navy {
  fill: navy;
}

.fill-springgreen {
  fill: springgreen;
}

.fill-teal {
  fill: teal;
}

.fill-midnightblue {
  fill: midnightblue;
}

.fill-dodgerblue {
  fill: dodgerblue;
}

.fill-lightseagreen {
  fill: lightseagreen;
}

.fill-forestgreen {
  fill: forestgreen;
}

.fill-seagreen {
  fill: seagreen;
}

.fill-darkslategray {
  fill: darkslategray;
}

.fill-darkslategrey {
  fill: darkslategrey;
}

.fill-limegreen {
  fill: limegreen;
}

.fill-mediumseagreen {
  fill: mediumseagreen;
}

.fill-turquoise {
  fill: turquoise;
}

.fill-royalblue {
  fill: royalblue;
}

.fill-steelblue {
  fill: steelblue;
}

.fill-darkslateblue {
  fill: darkslateblue;
}

.fill-mediumturquoise {
  fill: mediumturquoise;
}

.fill-indigo {
  fill: indigo;
}

.fill-darkolivegreen {
  fill: darkolivegreen;
}

.fill-cadetblue {
  fill: cadetblue;
}

.fill-cornflowerblue {
  fill: cornflowerblue;
}

.fill-mediumaquamarine {
  fill: mediumaquamarine;
}

.fill-dimgray {
  fill: dimgray;
}

.fill-dimgrey {
  fill: dimgrey;
}

.fill-slateblue {
  fill: slateblue;
}

.fill-olivedrab {
  fill: olivedrab;
}

.fill-slategray {
  fill: slategray;
}

.fill-slategrey {
  fill: slategrey;
}

.fill-lightslategray {
  fill: lightslategray;
}

.fill-lightslategrey {
  fill: lightslategrey;
}

.fill-mediumslateblue {
  fill: mediumslateblue;
}

.fill-lawngreen {
  fill: lawngreen;
}

.fill-aquamarine {
  fill: aquamarine;
}

.fill-chartreuse {
  fill: chartreuse;
}

.fill-gray {
  fill: gray;
}

.fill-grey {
  fill: grey;
}

.fill-maroon {
  fill: maroon;
}

.fill-olive {
  fill: olive;
}

.fill-purple {
  fill: purple;
}

.fill-lightskyblue {
  fill: lightskyblue;
}

.fill-skyblue {
  fill: skyblue;
}

.fill-blueviolet {
  fill: blueviolet;
}

.fill-darkmagenta {
  fill: darkmagenta;
}

.fill-darkred {
  fill: darkred;
}

.fill-saddlebrown {
  fill: saddlebrown;
}

.fill-darkseagreen {
  fill: darkseagreen;
}

.fill-lightgreen {
  fill: lightgreen;
}

.fill-mediumpurple {
  fill: mediumpurple;
}

.fill-darkviolet {
  fill: darkviolet;
}

.fill-palegreen {
  fill: palegreen;
}

.fill-darkorchid {
  fill: darkorchid;
}

.fill-yellowgreen {
  fill: yellowgreen;
}

.fill-sienna {
  fill: sienna;
}

.fill-brown {
  fill: brown;
}

.fill-darkgray {
  fill: darkgray;
}

.fill-darkgrey {
  fill: darkgrey;
}

.fill-greenyellow {
  fill: greenyellow;
}

.fill-lightblue {
  fill: lightblue;
}

.fill-paleturquoise {
  fill: paleturquoise;
}

.fill-lightsteelblue {
  fill: lightsteelblue;
}

.fill-powderblue {
  fill: powderblue;
}

.fill-firebrick {
  fill: firebrick;
}

.fill-darkgoldenrod {
  fill: darkgoldenrod;
}

.fill-mediumorchid {
  fill: mediumorchid;
}

.fill-rosybrown {
  fill: rosybrown;
}

.fill-darkkhaki {
  fill: darkkhaki;
}

.fill-silver {
  fill: silver;
}

.fill-mediumvioletred {
  fill: mediumvioletred;
}

.fill-indianred {
  fill: indianred;
}

.fill-peru {
  fill: peru;
}

.fill-chocolate {
  fill: chocolate;
}

.fill-tan {
  fill: tan;
}

.fill-lightgray {
  fill: lightgray;
}

.fill-lightgrey {
  fill: lightgrey;
}

.fill-thistle {
  fill: thistle;
}

.fill-goldenrod {
  fill: goldenrod;
}

.fill-orchid {
  fill: orchid;
}

.fill-palevioletred {
  fill: palevioletred;
}

.fill-crimson {
  fill: crimson;
}

.fill-gainsboro {
  fill: gainsboro;
}

.fill-plum {
  fill: plum;
}

.fill-burlywood {
  fill: burlywood;
}

.fill-lightcyan {
  fill: lightcyan;
}

.fill-lavender {
  fill: lavender;
}

.fill-darksalmon {
  fill: darksalmon;
}

.fill-palegoldenrod {
  fill: palegoldenrod;
}

.fill-violet {
  fill: violet;
}

.fill-azure {
  fill: azure;
}

.fill-honeydew {
  fill: honeydew;
}

.fill-khaki {
  fill: khaki;
}

.fill-lightcoral {
  fill: lightcoral;
}

.fill-sandybrown {
  fill: sandybrown;
}

.fill-beige {
  fill: beige;
}

.fill-mintcream {
  fill: mintcream;
}

.fill-wheat {
  fill: wheat;
}

.fill-whitesmoke {
  fill: whitesmoke;
}

.fill-ghostwhite {
  fill: ghostwhite;
}

.fill-lightgoldenrodyellow {
  fill: lightgoldenrodyellow;
}

.fill-linen {
  fill: linen;
}

.fill-salmon {
  fill: salmon;
}

.fill-oldlace {
  fill: oldlace;
}

.fill-bisque {
  fill: bisque;
}

.fill-blanchedalmond {
  fill: blanchedalmond;
}

.fill-coral {
  fill: coral;
}

.fill-cornsilk {
  fill: cornsilk;
}

.fill-darkorange {
  fill: darkorange;
}

.fill-deeppink {
  fill: deeppink;
}

.fill-floralwhite {
  fill: floralwhite;
}

.fill-fuchsia {
  fill: fuchsia;
}

.fill-gold {
  fill: gold;
}

.fill-hotpink {
  fill: hotpink;
}

.fill-ivory {
  fill: ivory;
}

.fill-lavenderblush {
  fill: lavenderblush;
}

.fill-lemonchiffon {
  fill: lemonchiffon;
}

.fill-lightpink {
  fill: lightpink;
}

.fill-lightsalmon {
  fill: lightsalmon;
}

.fill-lightyellow {
  fill: lightyellow;
}

.fill-magenta {
  fill: magenta;
}

.fill-mistyrose {
  fill: mistyrose;
}

.fill-moccasin {
  fill: moccasin;
}

.fill-navajowhite {
  fill: navajowhite;
}

.fill-orange {
  fill: orange;
}

.fill-orangered {
  fill: orangered;
}

.fill-papayawhip {
  fill: papayawhip;
}

.fill-peachpuff {
  fill: peachpuff;
}

.fill-pink {
  fill: pink;
}

.fill-red {
  fill: red;
}

.fill-seashell {
  fill: seashell;
}

.fill-snow {
  fill: snow;
}

.fill-tomato {
  fill: tomato;
}

.fill-white {
  fill: white;
}

.fill-yellow {
  fill: yellow;
}

.fill-rebeccapurple {
  fill: rebeccapurple;
}
.stroke-aqua {
  stroke: aqua;
}

.stroke-aliceblue {
  stroke: aliceblue;
}

.stroke-antiquewhite {
  stroke: antiquewhite;
}

.stroke-black {
  stroke: black;
}

.stroke-blue {
  stroke: blue;
}

.stroke-cyan {
  stroke: cyan;
}

.stroke-darkblue {
  stroke: darkblue;
}

.stroke-darkcyan {
  stroke: darkcyan;
}

.stroke-darkgreen {
  stroke: darkgreen;
}

.stroke-darkturquoise {
  stroke: darkturquoise;
}

.stroke-deepskyblue {
  stroke: deepskyblue;
}

.stroke-green {
  stroke: green;
}

.stroke-lime {
  stroke: lime;
}

.stroke-mediumblue {
  stroke: mediumblue;
}

.stroke-mediumspringgreen {
  stroke: mediumspringgreen;
}

.stroke-navy {
  stroke: navy;
}

.stroke-springgreen {
  stroke: springgreen;
}

.stroke-teal {
  stroke: teal;
}

.stroke-midnightblue {
  stroke: midnightblue;
}

.stroke-dodgerblue {
  stroke: dodgerblue;
}

.stroke-lightseagreen {
  stroke: lightseagreen;
}

.stroke-forestgreen {
  stroke: forestgreen;
}

.stroke-seagreen {
  stroke: seagreen;
}

.stroke-darkslategray {
  stroke: darkslategray;
}

.stroke-darkslategrey {
  stroke: darkslategrey;
}

.stroke-limegreen {
  stroke: limegreen;
}

.stroke-mediumseagreen {
  stroke: mediumseagreen;
}

.stroke-turquoise {
  stroke: turquoise;
}

.stroke-royalblue {
  stroke: royalblue;
}

.stroke-steelblue {
  stroke: steelblue;
}

.stroke-darkslateblue {
  stroke: darkslateblue;
}

.stroke-mediumturquoise {
  stroke: mediumturquoise;
}

.stroke-indigo {
  stroke: indigo;
}

.stroke-darkolivegreen {
  stroke: darkolivegreen;
}

.stroke-cadetblue {
  stroke: cadetblue;
}

.stroke-cornflowerblue {
  stroke: cornflowerblue;
}

.stroke-mediumaquamarine {
  stroke: mediumaquamarine;
}

.stroke-dimgray {
  stroke: dimgray;
}

.stroke-dimgrey {
  stroke: dimgrey;
}

.stroke-slateblue {
  stroke: slateblue;
}

.stroke-olivedrab {
  stroke: olivedrab;
}

.stroke-slategray {
  stroke: slategray;
}

.stroke-slategrey {
  stroke: slategrey;
}

.stroke-lightslategray {
  stroke: lightslategray;
}

.stroke-lightslategrey {
  stroke: lightslategrey;
}

.stroke-mediumslateblue {
  stroke: mediumslateblue;
}

.stroke-lawngreen {
  stroke: lawngreen;
}

.stroke-aquamarine {
  stroke: aquamarine;
}

.stroke-chartreuse {
  stroke: chartreuse;
}

.stroke-gray {
  stroke: gray;
}

.stroke-grey {
  stroke: grey;
}

.stroke-maroon {
  stroke: maroon;
}

.stroke-olive {
  stroke: olive;
}

.stroke-purple {
  stroke: purple;
}

.stroke-lightskyblue {
  stroke: lightskyblue;
}

.stroke-skyblue {
  stroke: skyblue;
}

.stroke-blueviolet {
  stroke: blueviolet;
}

.stroke-darkmagenta {
  stroke: darkmagenta;
}

.stroke-darkred {
  stroke: darkred;
}

.stroke-saddlebrown {
  stroke: saddlebrown;
}

.stroke-darkseagreen {
  stroke: darkseagreen;
}

.stroke-lightgreen {
  stroke: lightgreen;
}

.stroke-mediumpurple {
  stroke: mediumpurple;
}

.stroke-darkviolet {
  stroke: darkviolet;
}

.stroke-palegreen {
  stroke: palegreen;
}

.stroke-darkorchid {
  stroke: darkorchid;
}

.stroke-yellowgreen {
  stroke: yellowgreen;
}

.stroke-sienna {
  stroke: sienna;
}

.stroke-brown {
  stroke: brown;
}

.stroke-darkgray {
  stroke: darkgray;
}

.stroke-darkgrey {
  stroke: darkgrey;
}

.stroke-greenyellow {
  stroke: greenyellow;
}

.stroke-lightblue {
  stroke: lightblue;
}

.stroke-paleturquoise {
  stroke: paleturquoise;
}

.stroke-lightsteelblue {
  stroke: lightsteelblue;
}

.stroke-powderblue {
  stroke: powderblue;
}

.stroke-firebrick {
  stroke: firebrick;
}

.stroke-darkgoldenrod {
  stroke: darkgoldenrod;
}

.stroke-mediumorchid {
  stroke: mediumorchid;
}

.stroke-rosybrown {
  stroke: rosybrown;
}

.stroke-darkkhaki {
  stroke: darkkhaki;
}

.stroke-silver {
  stroke: silver;
}

.stroke-mediumvioletred {
  stroke: mediumvioletred;
}

.stroke-indianred {
  stroke: indianred;
}

.stroke-peru {
  stroke: peru;
}

.stroke-chocolate {
  stroke: chocolate;
}

.stroke-tan {
  stroke: tan;
}

.stroke-lightgray {
  stroke: lightgray;
}

.stroke-lightgrey {
  stroke: lightgrey;
}

.stroke-thistle {
  stroke: thistle;
}

.stroke-goldenrod {
  stroke: goldenrod;
}

.stroke-orchid {
  stroke: orchid;
}

.stroke-palevioletred {
  stroke: palevioletred;
}

.stroke-crimson {
  stroke: crimson;
}

.stroke-gainsboro {
  stroke: gainsboro;
}

.stroke-plum {
  stroke: plum;
}

.stroke-burlywood {
  stroke: burlywood;
}

.stroke-lightcyan {
  stroke: lightcyan;
}

.stroke-lavender {
  stroke: lavender;
}

.stroke-darksalmon {
  stroke: darksalmon;
}

.stroke-palegoldenrod {
  stroke: palegoldenrod;
}

.stroke-violet {
  stroke: violet;
}

.stroke-azure {
  stroke: azure;
}

.stroke-honeydew {
  stroke: honeydew;
}

.stroke-khaki {
  stroke: khaki;
}

.stroke-lightcoral {
  stroke: lightcoral;
}

.stroke-sandybrown {
  stroke: sandybrown;
}

.stroke-beige {
  stroke: beige;
}

.stroke-mintcream {
  stroke: mintcream;
}

.stroke-wheat {
  stroke: wheat;
}

.stroke-whitesmoke {
  stroke: whitesmoke;
}

.stroke-ghostwhite {
  stroke: ghostwhite;
}

.stroke-lightgoldenrodyellow {
  stroke: lightgoldenrodyellow;
}

.stroke-linen {
  stroke: linen;
}

.stroke-salmon {
  stroke: salmon;
}

.stroke-oldlace {
  stroke: oldlace;
}

.stroke-bisque {
  stroke: bisque;
}

.stroke-blanchedalmond {
  stroke: blanchedalmond;
}

.stroke-coral {
  stroke: coral;
}

.stroke-cornsilk {
  stroke: cornsilk;
}

.stroke-darkorange {
  stroke: darkorange;
}

.stroke-deeppink {
  stroke: deeppink;
}

.stroke-floralwhite {
  stroke: floralwhite;
}

.stroke-fuchsia {
  stroke: fuchsia;
}

.stroke-gold {
  stroke: gold;
}

.stroke-hotpink {
  stroke: hotpink;
}

.stroke-ivory {
  stroke: ivory;
}

.stroke-lavenderblush {
  stroke: lavenderblush;
}

.stroke-lemonchiffon {
  stroke: lemonchiffon;
}

.stroke-lightpink {
  stroke: lightpink;
}

.stroke-lightsalmon {
  stroke: lightsalmon;
}

.stroke-lightyellow {
  stroke: lightyellow;
}

.stroke-magenta {
  stroke: magenta;
}

.stroke-mistyrose {
  stroke: mistyrose;
}

.stroke-moccasin {
  stroke: moccasin;
}

.stroke-navajowhite {
  stroke: navajowhite;
}

.stroke-orange {
  stroke: orange;
}

.stroke-orangered {
  stroke: orangered;
}

.stroke-papayawhip {
  stroke: papayawhip;
}

.stroke-peachpuff {
  stroke: peachpuff;
}

.stroke-pink {
  stroke: pink;
}

.stroke-red {
  stroke: red;
}

.stroke-seashell {
  stroke: seashell;
}

.stroke-snow {
  stroke: snow;
}

.stroke-tomato {
  stroke: tomato;
}

.stroke-white {
  stroke: white;
}

.stroke-yellow {
  stroke: yellow;
}

.stroke-rebeccapurple {
  stroke: rebeccapurple;
}